$bg: #909da5;
$element: #bcc9cc;
$title: #546a7b;
$txt-w: #ebebeb;
$txt-b: #060d0c;
$txt-btn: #e1d1b4;
// $splash: #cfd6d7;
$btn: #182825;
$border: #545d6a;
$project: #182825;
$green: #225504;
$red: #c00225;
