@import '../../sass/colors.scss';
@import '../../sass/sizes.scss';

section#etusivu {
  grid-column: 1 / -1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: grid;
  column-gap: 80px;
  grid-template-columns: minmax(300px, 650px) minmax(300px, 650px);
  grid-template-rows: 70px 1fr;
  position: relative;
  @media screen and (max-width: $tablets) {
    height: auto;
    grid-template-columns: 1fr minmax(300px, 650px) 1fr;
    grid-template-rows: 70px 1fr 1fr;
    column-gap: 0;
    margin-bottom: 100px;
  }
  @media screen and (max-width: $phones) and (orientation: landscape) {
    // height: 100%;
    // grid-template-columns: 1fr minmax(300px, 650px) 1fr;
    // padding-top: 0px;
    // padding-bottom: 0px;
  }

  img.illustrations {
    grid-column: 2;
    grid-row: 1 / -1;
    @media screen and (max-width: $tablets) {
      grid-row: 2;
    }
  }
  div.etusivu {
    grid-column: 1;
    grid-row: 1 / -1;
    width: 100%;
    position: relative;
    z-index: 10;
    @media screen and (max-width: $tablets) {
      grid-column: 2;
      grid-row: 3;
      order: 2;
    }
    h1 {
      max-width: 500px;
      line-height: 65px;
      color: $txt-b;
      @media screen and (max-width: $phones) {
        font-size: 50px;
        line-height: 45px;
        text-align: center;
      }
    }
    h2 {
      margin: 15px 0 60px;
      color: $txt-b;
      font-size: 1.3rem;
      font-weight: 500;
      letter-spacing: 1.5px;
      line-height: 30px;
      @media screen and (max-width: $phones) {
        margin: 15px 0 40px;
      }
    }
    .etusivu-btns {
      display: flex;
      @media screen and (max-width: $phones) {
        justify-content: center;
      }
    }
    a.fill {
      margin-right: 30px;
      @media screen and (max-width: $laptops) {
        margin-right: 11px;
      }
    }
    a.icon-none {
      @media screen and (max-width: $phones) {
        display: none;
      }
    }
    a.icon-email {
      display: none;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: $phones) {
        display: flex;
      }
    }
    a {
      @media screen and (max-width: $phones) {
        padding: 15px 25px;
        font-size: 1.2rem;
      }
    }
  }
  #scroll-icon {
    width: 28px;
    height: 46px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin: 0 auto 40px;
    border: 3px solid $border;
    border-radius: 50px;
    transform: translateX(-50%);
    z-index: 5;
    &::before {
      content: '';
      width: 4px;
      height: 10px;
      position: absolute;
      top: 7px;
      left: 9px;
      background: $border;
      border-radius: 50px;
      animation: scroll-anim 3s ease-in-out infinite;
    }
    @media screen and (max-width: $tablets) {
      display: none;
    }
  }
  svg#splash {
    grid-column: 1;
    // width: 63vw;
    // height: 50vh;
    width: 1202px;
    height: 1032px;
    position: absolute;
    top: -10px;
    left: -380px;
    @media screen and (max-width: $tablets) {
      display: none;
    }
  }
}

@keyframes scroll-anim {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  10% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    transform: translate3d(0, 15px, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0, 15px, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 15px, 0);
    opacity: 0;
  }
}
