@import '../colors.scss';
@import '../sizes.scss';

section#palvelut {
  display: grid;
  column-gap: 90px;
  padding-top: 200px;
  padding-bottom: 200px;
  grid-template-columns: minmax(300px, 400px) minmax(300px, 400px) minmax(
      300px,
      400px
    );
  justify-content: center;
  @media screen and (max-width: $laptops) {
    column-gap: 30px;
  }
  @media screen and (max-width: $tablets) {
    height: auto;
    grid-template-columns: 1fr minmax(300px, 650px) 1fr;
    column-gap: 0;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  h2,
  > .content {
    grid-column: 1 /-1;
  }
  h2 {
    text-align: center;
    font-size: 70px;
    @media screen and (max-width: $phones) {
      font-size: 45px;
      line-height: 45px;
    }
  }
  > .content {
    p {
      font-size: 1.3rem;
      padding: 20px 0 90px;
      line-height: 30px;
      @media screen and (max-width: $laptops) {
        padding-bottom: 90px;
      }
      @media screen and (max-width: $phones) {
        padding-bottom: 120px;
      }
    }
  }

  div.palvelut {
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 70px 40px;
    border-radius: 10px;
    background-color: $element;
    border: 2px solid transparent;
    box-shadow: 0 5px 5px transparentize($btn, 0.9),
      0 20px 20px transparentize($btn, 0.9);
    transition: all 0.3s ease-in-out;
    @media screen and (max-width: $tablets) {
      grid-column: 2;
      margin-bottom: 30px;
    }
    .icons {
      display: flex;
      align-items: center;
      svg {
        fill: transparentize($border, 0.2);
      }
    }
    h3 {
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
      margin: 36px 0 25px;
    }
    div {
      white-space: pre-wrap;
      p {
        line-height: 25px;
      }
    }
  }
}
