@import '../colors.scss';
@import '../sizes.scss';

section#rioforista {
  justify-content: center;
  align-items: center;
  display: grid;
  column-gap: 80px;
  grid-template-columns: minmax(300px, 650px) minmax(300px, 650px);
  position: relative;
  margin-bottom: 200px;
  @media screen and (max-width: $tablets) {
    height: auto;
    grid-template-columns: 1fr minmax(300px, 650px) 1fr;
    column-gap: 0;
    grid-template-rows: max-content min-content;
    margin-bottom: 100px;
  }

  img.illustrations {
    grid-column: 1;
    grid-row: 1 / -1;
    @media screen and (max-width: $tablets) {
      grid-row: 1;
    }
  }

  div.rioforista {
    grid-column: 2;
    grid-row: 1 / -1;
    width: 100%;
    position: relative;
    z-index: 10;
    @media screen and (max-width: $tablets) {
      grid-column: 2;
      grid-row: 2;
      order: 2;
    }
    h2 {
      @media screen and (max-width: $phones) {
        font-size: 39px;
        line-height: 45px;
      }
    }
    div {
      margin-top: 60px;
    }
    p {
      color: $txt-b;
      font-size: 1.3rem;
      font-weight: 500;
      letter-spacing: 1.2px;
      line-height: 30px;
    }
  }
}
